.film{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
  
   
}

.film img{
    border: 5px solid white;
}


.film p{
    text-align: center;
    font-size: 25px;
    background-color: #007a53;
    border-radius: 15px;
   

}


@media (max-width: 600px) {

    
    
    .film {
      font-size: 20px;
    }

    img{
        width: 300px
    }

    .film p{
       font-size: 15px; 
    }
  }