.titlesContainer{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:  #007a53;
    border-radius: 15px;
   
}

.titlesContainer p{
    margin: 20px;
}

.inputContainer{

    display: flex;
    justify-content: center;
    margin-top: 40px;
   
}

.inputContainer input{
    width: 400px;
    height: 45px;
     background-color: white;
     border-radius: 25px;
     margin-top: 60px;
     margin-bottom: 60px;
     text-align: center;
     font-size: 15px;
     border: 2px solid gray;
     

}

.inputContainer input:hover{
   background-color:  lightcyan;
}

::placeholder{
    color: gray;
}


@media (max-width: 600px) {

    .titlesContainer{
        font-size: 15px;
        flex-direction: column;
        align-items: center;
     
    }

    .titlesContainer p{
        margin: 5px;
    }

    .inputContainer input{
        width: 250px;
        height: 25px;
         margin-top: 10px;
         margin-bottom: 10px;
         font-size: 11px;
       
         
    }
    
    
    
  }

 