<button class="dark-mode-button" (click)="changeColor()">
  Titles Dark Mode
</button>

<div class="inputContainer">
  <input
    placeholder="Write a word of the following titles and press enter"
    type="text"
    #title
    (keyup.enter)="search()"
  />
</div>

<button
  class="showTitles"
  *ngIf="title.value !== prevValue && !buttonValue"
  (click)="ShowTitles()"
>
  Show Titles
</button>

<div *ngIf="title.value == prevValue || buttonValue" class="titlesContainer">
  <p
    [ngClass]="style === 'black' ? 'black-theme' : 'green-theme'"
    *ngFor="let title of titles"
  >
    {{ title.title }}
  </p>
</div>
